<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"> </script>
    <script src="items.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Vue.js School Lessons</title>
</head>

<body>

    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
        </header>
        <main>
            <div v-if="showItem">
                <div v-for="item in items">
                    <div id="lessonbox">
            <figure>
                <img v-bind:src="item.Image" style="width:130px;height:110px;float:right;">
            </figure>
            <h2 v-text="item.subject"></h2>
            <!-- the double curly brackets is shorter version of 'v-text' moustache syntax (same thing)-->
            <p>Location: {{item.location}}</p>
            <p>Price: {{item.price}}</p>
            <p>Available Lessons: {{item.availableSlot}}</p>
            <button v-on:click="addToCart(item)">
                Add to Cart
            </button>
        </div>
        </div>
            <button v-on:click="showCheckout"><!-- 'cartItemCount' is used the same way as a data property. -->       
                {{ cartItemCount }} <!-- add the cart icon -->
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app', // dont forget the comma
            data: { //the data option
                sitename: 'Vue.js Lessonstore', //the key 'sitename' matches the value of v-text earlier
                    items: items,
                
                cart: [], //array to store items in shopping cart
                showItem: true,
            },
        });
    </script>
</body>
</html>